{
    "openapi": "3.1.0",
    "info": {
        "title": "FiveSocket API",
        "version": "0.1.0",
        "description": "The REST API for live MetaTrader 5 account reads."
    },
    "servers": [
        {
            "url": "https://api.fivesocket.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "ApiReadiness": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "ready",
                            "warming",
                            "unavailable"
                        ]
                    },
                    "checkedAt": {
                        "type": "string"
                    },
                    "controlPlane": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "string",
                                "enum": [
                                    "ready",
                                    "unavailable"
                                ]
                            }
                        },
                        "required": [
                            "status"
                        ]
                    },
                    "dataPlane": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "string",
                                "enum": [
                                    "ready",
                                    "warming",
                                    "unavailable"
                                ]
                            },
                            "region": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "readyRuntimes": {
                                "type": "integer",
                                "minimum": 0
                            },
                            "minimumWarmRuntimes": {
                                "type": "integer",
                                "minimum": 0
                            }
                        },
                        "required": [
                            "status",
                            "region",
                            "readyRuntimes",
                            "minimumWarmRuntimes"
                        ]
                    }
                },
                "required": [
                    "status",
                    "checkedAt",
                    "controlPlane",
                    "dataPlane"
                ]
            },
            "AccountExecutionConfiguration": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "enabled",
                            "disabled"
                        ]
                    },
                    "symbols": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "symbol": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 64
                                },
                                "maxVolume": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
                                    "description": "Maximum volume for one exposure-increasing order submission."
                                }
                            },
                            "required": [
                                "symbol",
                                "maxVolume"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "accountId",
                    "status",
                    "symbols",
                    "updatedAt"
                ],
                "additionalProperties": false
            },
            "ApiError": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "invalid_request",
                                    "invalid_api_key",
                                    "insufficient_scope",
                                    "account_not_found",
                                    "account_disabled",
                                    "account_slot_limit",
                                    "execution_disabled",
                                    "execution_policy_violation",
                                    "order_not_found",
                                    "position_not_found",
                                    "commit_unknown",
                                    "trade_rejected",
                                    "server_not_found",
                                    "broker_unreachable",
                                    "credentials_rejected",
                                    "capacity_exhausted",
                                    "rate_limit_exceeded",
                                    "request_timeout",
                                    "terminal_unhealthy",
                                    "conflict",
                                    "internal_error"
                                ]
                            },
                            "message": {
                                "type": "string"
                            },
                            "requestId": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "code",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ConfigureAccountExecutionRequest": {
                "type": "object",
                "properties": {
                    "symbols": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "symbol": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 64
                                },
                                "maxVolume": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$",
                                    "description": "Maximum volume for one exposure-increasing order submission."
                                }
                            },
                            "required": [
                                "symbol",
                                "maxVolume"
                            ],
                            "additionalProperties": false
                        },
                        "minItems": 1,
                        "maxItems": 50
                    }
                },
                "required": [
                    "symbols"
                ],
                "additionalProperties": false
            },
            "ExecutionCapabilitiesObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "tradeAllowed": {
                        "type": "boolean"
                    },
                    "tradeExpert": {
                        "type": "boolean"
                    },
                    "tradeMode": {
                        "type": "integer"
                    },
                    "marginMode": {
                        "type": "integer"
                    },
                    "fifoClose": {
                        "type": "boolean"
                    },
                    "limitOrders": {
                        "type": "integer",
                        "minimum": 0
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "tradeAllowed",
                    "tradeExpert",
                    "tradeMode",
                    "marginMode",
                    "fifoClose",
                    "limitOrders"
                ],
                "additionalProperties": false
            },
            "WorkingOrdersObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "positionId": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell",
                                        "buy_limit",
                                        "sell_limit",
                                        "buy_stop",
                                        "sell_stop",
                                        "buy_stop_limit",
                                        "sell_stop_limit",
                                        "close_by",
                                        "other"
                                    ]
                                },
                                "rawType": {
                                    "type": "integer"
                                },
                                "state": {
                                    "type": "string",
                                    "enum": [
                                        "started",
                                        "placed",
                                        "canceled",
                                        "partial",
                                        "filled",
                                        "rejected",
                                        "expired",
                                        "request_add",
                                        "request_modify",
                                        "request_cancel",
                                        "other"
                                    ]
                                },
                                "rawState": {
                                    "type": "integer"
                                },
                                "volumeInitial": {
                                    "type": "string"
                                },
                                "volumeCurrent": {
                                    "type": "string"
                                },
                                "priceOpen": {
                                    "type": "string"
                                },
                                "stopLoss": {
                                    "type": "string"
                                },
                                "takeProfit": {
                                    "type": "string"
                                },
                                "setupAt": {
                                    "type": "string"
                                },
                                "doneAt": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string",
                                    "enum": [
                                        "client",
                                        "mobile",
                                        "web",
                                        "expert",
                                        "sl",
                                        "tp",
                                        "so",
                                        "other"
                                    ]
                                },
                                "rawReason": {
                                    "type": "integer"
                                },
                                "comment": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "positionId",
                                "symbol",
                                "type",
                                "rawType",
                                "state",
                                "rawState",
                                "volumeInitial",
                                "volumeCurrent",
                                "priceOpen",
                                "setupAt",
                                "magic",
                                "reason",
                                "rawReason"
                            ]
                        }
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data"
                ],
                "additionalProperties": false
            },
            "OrderStatusObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "order": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "positionId": {
                                "type": "string"
                            },
                            "symbol": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "buy",
                                    "sell",
                                    "buy_limit",
                                    "sell_limit",
                                    "buy_stop",
                                    "sell_stop",
                                    "buy_stop_limit",
                                    "sell_stop_limit",
                                    "close_by",
                                    "other"
                                ]
                            },
                            "rawType": {
                                "type": "integer"
                            },
                            "state": {
                                "type": "string",
                                "enum": [
                                    "started",
                                    "placed",
                                    "canceled",
                                    "partial",
                                    "filled",
                                    "rejected",
                                    "expired",
                                    "request_add",
                                    "request_modify",
                                    "request_cancel",
                                    "other"
                                ]
                            },
                            "rawState": {
                                "type": "integer"
                            },
                            "volumeInitial": {
                                "type": "string"
                            },
                            "volumeCurrent": {
                                "type": "string"
                            },
                            "priceOpen": {
                                "type": "string"
                            },
                            "stopLoss": {
                                "type": "string"
                            },
                            "takeProfit": {
                                "type": "string"
                            },
                            "setupAt": {
                                "type": "string"
                            },
                            "doneAt": {
                                "type": "string"
                            },
                            "magic": {
                                "type": "string"
                            },
                            "reason": {
                                "type": "string",
                                "enum": [
                                    "client",
                                    "mobile",
                                    "web",
                                    "expert",
                                    "sl",
                                    "tp",
                                    "so",
                                    "other"
                                ]
                            },
                            "rawReason": {
                                "type": "integer"
                            },
                            "comment": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "id",
                            "positionId",
                            "symbol",
                            "type",
                            "rawType",
                            "state",
                            "rawState",
                            "volumeInitial",
                            "volumeCurrent",
                            "priceOpen",
                            "setupAt",
                            "magic",
                            "reason",
                            "rawReason"
                        ]
                    },
                    "deals": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "orderId": {
                                    "type": "string"
                                },
                                "positionId": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell",
                                        "balance",
                                        "credit",
                                        "charge",
                                        "correction",
                                        "bonus",
                                        "commission",
                                        "commission_daily",
                                        "commission_monthly",
                                        "agent_daily",
                                        "agent_monthly",
                                        "interest",
                                        "buy_canceled",
                                        "sell_canceled",
                                        "dividend",
                                        "dividend_franked",
                                        "tax",
                                        "other"
                                    ]
                                },
                                "rawType": {
                                    "type": "integer"
                                },
                                "entry": {
                                    "type": "string",
                                    "enum": [
                                        "in",
                                        "out",
                                        "inout",
                                        "out_by",
                                        "other"
                                    ]
                                },
                                "rawEntry": {
                                    "type": "integer"
                                },
                                "volume": {
                                    "type": "string"
                                },
                                "price": {
                                    "type": "string"
                                },
                                "profit": {
                                    "type": "string"
                                },
                                "commission": {
                                    "type": "string"
                                },
                                "swap": {
                                    "type": "string"
                                },
                                "fee": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string",
                                    "enum": [
                                        "client",
                                        "mobile",
                                        "web",
                                        "expert",
                                        "sl",
                                        "tp",
                                        "so",
                                        "rollover",
                                        "vmargin",
                                        "split",
                                        "other"
                                    ]
                                },
                                "rawReason": {
                                    "type": "integer"
                                },
                                "comment": {
                                    "type": "string"
                                },
                                "time": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "orderId",
                                "positionId",
                                "symbol",
                                "type",
                                "rawType",
                                "entry",
                                "rawEntry",
                                "volume",
                                "price",
                                "profit",
                                "commission",
                                "swap",
                                "fee",
                                "magic",
                                "reason",
                                "rawReason",
                                "time"
                            ]
                        }
                    },
                    "source": {
                        "type": "string",
                        "enum": [
                            "working",
                            "history"
                        ]
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "order",
                    "deals",
                    "source"
                ],
                "additionalProperties": false
            },
            "ExecutionSymbolsObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "symbol": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "digits": {
                                    "type": "integer"
                                },
                                "point": {
                                    "type": "string"
                                },
                                "contractSize": {
                                    "type": "string"
                                },
                                "tickSize": {
                                    "type": "string"
                                },
                                "tickValue": {
                                    "type": "string"
                                },
                                "currencyBase": {
                                    "type": "string"
                                },
                                "currencyProfit": {
                                    "type": "string"
                                },
                                "currencyMargin": {
                                    "type": "string"
                                },
                                "volumeMin": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                                },
                                "volumeMax": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                                },
                                "volumeStep": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                                },
                                "bid": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                                },
                                "ask": {
                                    "type": "string",
                                    "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                                },
                                "spreadPoints": {
                                    "type": "integer",
                                    "minimum": 0
                                },
                                "fillingMode": {
                                    "type": "integer"
                                },
                                "orderMode": {
                                    "type": "integer"
                                },
                                "tradeMode": {
                                    "type": "integer"
                                },
                                "tickObservedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            },
                            "required": [
                                "symbol",
                                "digits",
                                "point",
                                "contractSize",
                                "tickSize",
                                "tickValue",
                                "currencyBase",
                                "currencyProfit",
                                "currencyMargin",
                                "volumeMin",
                                "volumeMax",
                                "volumeStep",
                                "bid",
                                "ask",
                                "spreadPoints",
                                "fillingMode",
                                "orderMode",
                                "tradeMode",
                                "tickObservedAt"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "missing": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data",
                    "missing"
                ],
                "additionalProperties": false
            },
            "ExecutionCommand": {
                "type": "object",
                "properties": {
                    "commandId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "operation": {
                        "type": "string",
                        "enum": [
                            "order.submit",
                            "order.modify",
                            "order.cancel",
                            "position.modify",
                            "position.close"
                        ]
                    },
                    "outcome": {
                        "type": "string",
                        "enum": [
                            "accepted",
                            "rejected",
                            "commit_unknown",
                            "unresolved"
                        ]
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "placed",
                            "filled",
                            "partially_filled",
                            "canceled",
                            "expired",
                            "modified",
                            "rejected",
                            "unknown"
                        ]
                    },
                    "retcode": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "retcodeExternal": {
                        "type": [
                            "integer",
                            "null"
                        ]
                    },
                    "retcodeDescription": {
                        "type": "string"
                    },
                    "orderId": {
                        "type": "string",
                        "pattern": "^(?:0|[1-9][0-9]*)$"
                    },
                    "dealId": {
                        "type": "string",
                        "pattern": "^(?:0|[1-9][0-9]*)$"
                    },
                    "positionId": {
                        "type": "string",
                        "pattern": "^(?:0|[1-9][0-9]*)$"
                    },
                    "clientOrderId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 31,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Caller-defined execution identity, unique within a connected account."
                    },
                    "volume": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "price": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "bid": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "ask": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "recovered": {
                        "type": "boolean"
                    },
                    "observedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "latencyMs": {
                        "type": "number",
                        "minimum": 0
                    }
                },
                "required": [
                    "commandId",
                    "operation",
                    "outcome",
                    "status",
                    "retcode",
                    "retcodeExternal",
                    "retcodeDescription",
                    "volume",
                    "price",
                    "recovered",
                    "observedAt",
                    "latencyMs"
                ],
                "additionalProperties": false
            },
            "CreateOrderRequest": {
                "type": "object",
                "properties": {
                    "clientOrderId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 31,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Caller-defined execution identity, unique within a connected account."
                    },
                    "symbol": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                    },
                    "side": {
                        "type": "string",
                        "enum": [
                            "buy",
                            "sell"
                        ]
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "market",
                            "limit",
                            "stop",
                            "stop_limit"
                        ]
                    },
                    "volume": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "price": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "stopLimitPrice": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "stopLoss": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "takeProfit": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "deviationPoints": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000,
                        "default": 20
                    },
                    "magic": {
                        "type": "string",
                        "pattern": "^(?:0|[1-9][0-9]*)$",
                        "default": "0"
                    },
                    "fillPolicy": {
                        "type": "string",
                        "enum": [
                            "auto",
                            "fok",
                            "ioc",
                            "return",
                            "boc"
                        ],
                        "default": "auto"
                    },
                    "timeInForce": {
                        "type": "string",
                        "enum": [
                            "gtc",
                            "day",
                            "specified",
                            "specified_day"
                        ],
                        "default": "gtc"
                    },
                    "expiresAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "clientOrderId",
                    "symbol",
                    "side",
                    "type",
                    "volume"
                ],
                "additionalProperties": false
            },
            "ModifyOrderRequest": {
                "type": "object",
                "properties": {
                    "price": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "stopLimitPrice": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "stopLoss": {
                        "anyOf": [
                            {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "takeProfit": {
                        "anyOf": [
                            {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "timeInForce": {
                        "type": "string",
                        "enum": [
                            "gtc",
                            "day",
                            "specified",
                            "specified_day"
                        ]
                    },
                    "expiresAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "ModifyPositionRequest": {
                "type": "object",
                "properties": {
                    "stopLoss": {
                        "anyOf": [
                            {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "takeProfit": {
                        "anyOf": [
                            {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "additionalProperties": false
            },
            "ClosePositionRequest": {
                "type": "object",
                "properties": {
                    "clientOrderId": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 31,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Caller-defined execution identity, unique within a connected account."
                    },
                    "volume": {
                        "type": "string",
                        "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?$"
                    },
                    "deviationPoints": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 10000,
                        "default": 20
                    },
                    "fillPolicy": {
                        "type": "string",
                        "enum": [
                            "auto",
                            "fok",
                            "ioc",
                            "return"
                        ],
                        "default": "auto"
                    }
                },
                "required": [
                    "clientOrderId"
                ],
                "additionalProperties": false
            },
            "ServerVerification": {
                "type": "object",
                "properties": {
                    "server": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "resolved",
                            "not_found"
                        ]
                    },
                    "terminalBuild": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "region": {
                        "type": "string"
                    },
                    "workerImageDigest": {
                        "type": "string",
                        "pattern": "^sha256:[a-f0-9]{64}$"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    }
                },
                "required": [
                    "server",
                    "status",
                    "terminalBuild",
                    "region",
                    "workerImageDigest",
                    "observedAt",
                    "latencyMs"
                ]
            },
            "ServerVerificationStreamEvent": {
                "oneOf": [
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "pending"
                                ]
                            },
                            "server": {
                                "type": "string"
                            },
                            "pendingAt": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "type",
                            "server",
                            "pendingAt"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "result"
                                ]
                            },
                            "verification": {
                                "type": "object",
                                "properties": {
                                    "server": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "resolved",
                                            "not_found"
                                        ]
                                    },
                                    "terminalBuild": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "workerImageDigest": {
                                        "type": "string",
                                        "pattern": "^sha256:[a-f0-9]{64}$"
                                    },
                                    "observedAt": {
                                        "type": "string"
                                    },
                                    "latencyMs": {
                                        "type": "number"
                                    }
                                },
                                "required": [
                                    "server",
                                    "status",
                                    "terminalBuild",
                                    "region",
                                    "workerImageDigest",
                                    "observedAt",
                                    "latencyMs"
                                ]
                            }
                        },
                        "required": [
                            "type",
                            "verification"
                        ]
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "error"
                                ]
                            },
                            "error": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "enum": [
                                            "invalid_request",
                                            "invalid_api_key",
                                            "insufficient_scope",
                                            "account_not_found",
                                            "account_disabled",
                                            "account_slot_limit",
                                            "execution_disabled",
                                            "execution_policy_violation",
                                            "order_not_found",
                                            "position_not_found",
                                            "commit_unknown",
                                            "trade_rejected",
                                            "server_not_found",
                                            "broker_unreachable",
                                            "credentials_rejected",
                                            "capacity_exhausted",
                                            "rate_limit_exceeded",
                                            "request_timeout",
                                            "terminal_unhealthy",
                                            "conflict",
                                            "internal_error"
                                        ]
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "requestId": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "code",
                                    "message",
                                    "requestId"
                                ]
                            }
                        },
                        "required": [
                            "type",
                            "error"
                        ]
                    }
                ]
            },
            "ServerVerificationRequest": {
                "type": "object",
                "properties": {
                    "server": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 160
                    }
                },
                "required": [
                    "server"
                ]
            },
            "LinkedAccount": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "active",
                            "invalid",
                            "disabled"
                        ]
                    },
                    "createdAt": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "login",
                    "server",
                    "status",
                    "createdAt"
                ]
            },
            "AccountCredentials": {
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32
                    },
                    "password": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256
                    },
                    "server": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 160
                    }
                },
                "required": [
                    "login",
                    "password",
                    "server"
                ]
            },
            "AccountList": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "login": {
                                    "type": "string"
                                },
                                "server": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "pending",
                                        "active",
                                        "invalid",
                                        "disabled"
                                    ]
                                },
                                "createdAt": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "login",
                                "server",
                                "status",
                                "createdAt"
                            ]
                        }
                    }
                },
                "required": [
                    "data"
                ]
            },
            "Balance": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "balance": {
                        "type": "string"
                    },
                    "equity": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "credit": {
                        "type": "string"
                    },
                    "margin": {
                        "type": "string"
                    },
                    "marginFree": {
                        "type": "string"
                    },
                    "profit": {
                        "type": "string"
                    },
                    "leverage": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "company": {
                        "type": "string"
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "balance",
                    "equity",
                    "currency",
                    "credit",
                    "margin",
                    "marginFree",
                    "profit",
                    "leverage",
                    "name",
                    "company"
                ]
            },
            "PositionsObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "positions": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "identifier": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "side": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell"
                                    ]
                                },
                                "volume": {
                                    "type": "string"
                                },
                                "openPrice": {
                                    "type": "string"
                                },
                                "currentPrice": {
                                    "type": "string"
                                },
                                "profit": {
                                    "type": "string"
                                },
                                "openedAt": {
                                    "type": "string"
                                },
                                "stopLoss": {
                                    "type": "string"
                                },
                                "takeProfit": {
                                    "type": "string"
                                },
                                "swap": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "comment": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "symbol",
                                "side",
                                "volume",
                                "openPrice",
                                "currentPrice",
                                "profit",
                                "openedAt",
                                "swap",
                                "magic"
                            ]
                        }
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "positions"
                ]
            },
            "TradesObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "orderId": {
                                    "type": "string"
                                },
                                "positionId": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "side": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell"
                                    ]
                                },
                                "volume": {
                                    "type": "string"
                                },
                                "closePrice": {
                                    "type": "string"
                                },
                                "profit": {
                                    "type": "string"
                                },
                                "commission": {
                                    "type": "string"
                                },
                                "swap": {
                                    "type": "string"
                                },
                                "fee": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "entry": {
                                    "type": "string",
                                    "enum": [
                                        "in",
                                        "out",
                                        "inout",
                                        "out_by",
                                        "other"
                                    ]
                                },
                                "rawEntry": {
                                    "type": "integer"
                                },
                                "reason": {
                                    "type": "string",
                                    "enum": [
                                        "client",
                                        "mobile",
                                        "web",
                                        "expert",
                                        "sl",
                                        "tp",
                                        "so",
                                        "rollover",
                                        "vmargin",
                                        "split",
                                        "other"
                                    ]
                                },
                                "rawReason": {
                                    "type": "integer"
                                },
                                "closedAt": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "orderId",
                                "positionId",
                                "symbol",
                                "side",
                                "volume",
                                "closePrice",
                                "profit",
                                "commission",
                                "swap",
                                "fee",
                                "magic",
                                "entry",
                                "rawEntry",
                                "reason",
                                "rawReason",
                                "closedAt"
                            ]
                        }
                    },
                    "nextCursor": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data",
                    "nextCursor"
                ]
            },
            "DealsObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "orderId": {
                                    "type": "string"
                                },
                                "positionId": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell",
                                        "balance",
                                        "credit",
                                        "charge",
                                        "correction",
                                        "bonus",
                                        "commission",
                                        "commission_daily",
                                        "commission_monthly",
                                        "agent_daily",
                                        "agent_monthly",
                                        "interest",
                                        "buy_canceled",
                                        "sell_canceled",
                                        "dividend",
                                        "dividend_franked",
                                        "tax",
                                        "other"
                                    ]
                                },
                                "rawType": {
                                    "type": "integer"
                                },
                                "entry": {
                                    "type": "string",
                                    "enum": [
                                        "in",
                                        "out",
                                        "inout",
                                        "out_by",
                                        "other"
                                    ]
                                },
                                "rawEntry": {
                                    "type": "integer"
                                },
                                "volume": {
                                    "type": "string"
                                },
                                "price": {
                                    "type": "string"
                                },
                                "profit": {
                                    "type": "string"
                                },
                                "commission": {
                                    "type": "string"
                                },
                                "swap": {
                                    "type": "string"
                                },
                                "fee": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string",
                                    "enum": [
                                        "client",
                                        "mobile",
                                        "web",
                                        "expert",
                                        "sl",
                                        "tp",
                                        "so",
                                        "rollover",
                                        "vmargin",
                                        "split",
                                        "other"
                                    ]
                                },
                                "rawReason": {
                                    "type": "integer"
                                },
                                "comment": {
                                    "type": "string"
                                },
                                "time": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "orderId",
                                "positionId",
                                "symbol",
                                "type",
                                "rawType",
                                "entry",
                                "rawEntry",
                                "volume",
                                "price",
                                "profit",
                                "commission",
                                "swap",
                                "fee",
                                "magic",
                                "reason",
                                "rawReason",
                                "time"
                            ]
                        }
                    },
                    "nextCursor": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data",
                    "nextCursor"
                ]
            },
            "OrdersObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "positionId": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell",
                                        "buy_limit",
                                        "sell_limit",
                                        "buy_stop",
                                        "sell_stop",
                                        "buy_stop_limit",
                                        "sell_stop_limit",
                                        "close_by",
                                        "other"
                                    ]
                                },
                                "rawType": {
                                    "type": "integer"
                                },
                                "state": {
                                    "type": "string",
                                    "enum": [
                                        "started",
                                        "placed",
                                        "canceled",
                                        "partial",
                                        "filled",
                                        "rejected",
                                        "expired",
                                        "request_add",
                                        "request_modify",
                                        "request_cancel",
                                        "other"
                                    ]
                                },
                                "rawState": {
                                    "type": "integer"
                                },
                                "volumeInitial": {
                                    "type": "string"
                                },
                                "volumeCurrent": {
                                    "type": "string"
                                },
                                "priceOpen": {
                                    "type": "string"
                                },
                                "stopLoss": {
                                    "type": "string"
                                },
                                "takeProfit": {
                                    "type": "string"
                                },
                                "setupAt": {
                                    "type": "string"
                                },
                                "doneAt": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string",
                                    "enum": [
                                        "client",
                                        "mobile",
                                        "web",
                                        "expert",
                                        "sl",
                                        "tp",
                                        "so",
                                        "other"
                                    ]
                                },
                                "rawReason": {
                                    "type": "integer"
                                },
                                "comment": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "positionId",
                                "symbol",
                                "type",
                                "rawType",
                                "state",
                                "rawState",
                                "volumeInitial",
                                "volumeCurrent",
                                "priceOpen",
                                "setupAt",
                                "magic",
                                "reason",
                                "rawReason"
                            ]
                        }
                    },
                    "nextCursor": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data",
                    "nextCursor"
                ]
            },
            "SymbolsObservation": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "symbol": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "digits": {
                                    "type": "integer"
                                },
                                "point": {
                                    "type": "string"
                                },
                                "contractSize": {
                                    "type": "string"
                                },
                                "tickSize": {
                                    "type": "string"
                                },
                                "tickValue": {
                                    "type": "string"
                                },
                                "currencyBase": {
                                    "type": "string"
                                },
                                "currencyProfit": {
                                    "type": "string"
                                },
                                "currencyMargin": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "symbol",
                                "digits",
                                "point",
                                "contractSize",
                                "tickSize",
                                "tickValue",
                                "currencyBase",
                                "currencyProfit",
                                "currencyMargin"
                            ]
                        }
                    },
                    "missing": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "data",
                    "missing"
                ]
            },
            "Snapshot": {
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string"
                    },
                    "login": {
                        "type": "string"
                    },
                    "server": {
                        "type": "string"
                    },
                    "observedAt": {
                        "type": "string"
                    },
                    "latencyMs": {
                        "type": "number"
                    },
                    "balance": {
                        "type": "object",
                        "properties": {
                            "accountId": {
                                "type": "string"
                            },
                            "login": {
                                "type": "string"
                            },
                            "server": {
                                "type": "string"
                            },
                            "observedAt": {
                                "type": "string"
                            },
                            "latencyMs": {
                                "type": "number"
                            },
                            "balance": {
                                "type": "string"
                            },
                            "equity": {
                                "type": "string"
                            },
                            "currency": {
                                "type": "string"
                            },
                            "credit": {
                                "type": "string"
                            },
                            "margin": {
                                "type": "string"
                            },
                            "marginFree": {
                                "type": "string"
                            },
                            "profit": {
                                "type": "string"
                            },
                            "leverage": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "company": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "accountId",
                            "login",
                            "server",
                            "observedAt",
                            "latencyMs",
                            "balance",
                            "equity",
                            "currency",
                            "credit",
                            "margin",
                            "marginFree",
                            "profit",
                            "leverage",
                            "name",
                            "company"
                        ]
                    },
                    "positions": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "identifier": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9][0-9]*)$"
                                },
                                "symbol": {
                                    "type": "string"
                                },
                                "side": {
                                    "type": "string",
                                    "enum": [
                                        "buy",
                                        "sell"
                                    ]
                                },
                                "volume": {
                                    "type": "string"
                                },
                                "openPrice": {
                                    "type": "string"
                                },
                                "currentPrice": {
                                    "type": "string"
                                },
                                "profit": {
                                    "type": "string"
                                },
                                "openedAt": {
                                    "type": "string"
                                },
                                "stopLoss": {
                                    "type": "string"
                                },
                                "takeProfit": {
                                    "type": "string"
                                },
                                "swap": {
                                    "type": "string"
                                },
                                "magic": {
                                    "type": "string"
                                },
                                "comment": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "symbol",
                                "side",
                                "volume",
                                "openPrice",
                                "currentPrice",
                                "profit",
                                "openedAt",
                                "swap",
                                "magic"
                            ]
                        }
                    },
                    "recentTrades": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "orderId": {
                                            "type": "string"
                                        },
                                        "positionId": {
                                            "type": "string"
                                        },
                                        "symbol": {
                                            "type": "string"
                                        },
                                        "side": {
                                            "type": "string",
                                            "enum": [
                                                "buy",
                                                "sell"
                                            ]
                                        },
                                        "volume": {
                                            "type": "string"
                                        },
                                        "closePrice": {
                                            "type": "string"
                                        },
                                        "profit": {
                                            "type": "string"
                                        },
                                        "commission": {
                                            "type": "string"
                                        },
                                        "swap": {
                                            "type": "string"
                                        },
                                        "fee": {
                                            "type": "string"
                                        },
                                        "magic": {
                                            "type": "string"
                                        },
                                        "entry": {
                                            "type": "string",
                                            "enum": [
                                                "in",
                                                "out",
                                                "inout",
                                                "out_by",
                                                "other"
                                            ]
                                        },
                                        "rawEntry": {
                                            "type": "integer"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "enum": [
                                                "client",
                                                "mobile",
                                                "web",
                                                "expert",
                                                "sl",
                                                "tp",
                                                "so",
                                                "rollover",
                                                "vmargin",
                                                "split",
                                                "other"
                                            ]
                                        },
                                        "rawReason": {
                                            "type": "integer"
                                        },
                                        "closedAt": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "orderId",
                                        "positionId",
                                        "symbol",
                                        "side",
                                        "volume",
                                        "closePrice",
                                        "profit",
                                        "commission",
                                        "swap",
                                        "fee",
                                        "magic",
                                        "entry",
                                        "rawEntry",
                                        "reason",
                                        "rawReason",
                                        "closedAt"
                                    ]
                                }
                            },
                            "nextCursor": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            }
                        },
                        "required": [
                            "data",
                            "nextCursor"
                        ]
                    }
                },
                "required": [
                    "accountId",
                    "login",
                    "server",
                    "observedAt",
                    "latencyMs",
                    "balance",
                    "positions",
                    "recentTrades"
                ]
            }
        },
        "parameters": {}
    },
    "paths": {
        "/ready": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The control plane and data plane are ready",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiReadiness"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is warming or unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiReadiness"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/accounts/{accountId}/execution": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        },
                        "required": true,
                        "name": "accountId",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account execution policy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountExecutionConfiguration"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    },
                    "403": {
[...]
